<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Makeup System</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

</head>

<body>

    <nav class="container">
        <div class="nav-wrapper valign-wrapper">
            <img class="logo" src="{{ url_for('static', path='img/bits-logo.gif') }}" />
            <img class="navbar-right tagline" src="{{ url_for('static', path='img/bits-tagline.png') }}" />
        </div>
    </nav>

    <div>
        <img class="bits-line" src="{{ url_for('static', path='img/bits-line.gif') }}" />
    </div>

    <div id="sign_in_button" class="container">
        <h3 class="center"><strong>Makeup System</strong></h3>

        <div id ="header"> 
            <h5 class="center"><strong>Doctor : {{user.username}}</strong></h5> 
            
            <form action="/signout" method="get">
                <div class="buttons"> 
                <button type="submit" name="logout" class="btn-all">Logout</button>            
                </div>
            </form>          
        </div>

        <div class="doc_form" style="margin:50px">
            <form action="/prescription" method="post" enctype="multipart/form-data">
                <label for="student_username">Student Username</label>
                <input type="text" name="student_username" placeholder="2019XXPSYYYY">
                <br>
                <br>
            
                <label for="rest_duration">Rest Duration</label>
                <input type="number" name="rest_duration" value="1">
                <br>
                <br>
            
                <label for="img_file">Upload the Scanned Prescription (.png)</label><br>
                <input type="file" name="img_file" >
                <br>
                <br>
        
                <input type="submit" value="Submit" style="background-color: #13aa52;
                border: 1px solid #13aa52;
                border-radius: 4px;
                box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
                box-sizing: border-box;
                color: #fff;
                cursor: pointer;
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                font-size: 16px;
                font-weight: 400;
                outline: none;
                outline: 0;
                padding: 10px 25px;
                text-align: center;
                transform: translateY(0);
                transition: transform 150ms, box-shadow 150ms;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                margin-left: 0;">
                <br>
                <br>
            </form>        
        </div>
        
    </div>        
</body>
</html>