<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Makeup System</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

</head>

<body>

    <nav class="container">
        <div class="nav-wrapper valign-wrapper">
            <img class="logo" src="{{ url_for('static', path='img/bits-logo.gif') }}" />
            <img class="navbar-right tagline" src="{{ url_for('static', path='img/bits-tagline.png') }}" />
        </div>
    </nav>

    <div>
        <img class="bits-line" src="{{ url_for('static', path='img/bits-line.gif') }}" />
    </div>

    <div id="sign_in_button" class="container">
        <h3 class="center"><strong>Makeup System</strong></h3>

        <div id ="header"> 
            <h5 class="center">Proffesor : {{user.username}}</h5> 
            
            <form action="/signout" method="get">
                <div class="buttons"> 
                <button type="submit" name="logout" class="btn-all">Logout</button>            
                </div>
            </form>
            <br>
        </div>

        <div class="prof_makeup_list" >
            <h5 class="center"><strong>My Makeups</strong></h5>
            <ul class="prof_makeup" style="list-style: none;margin:50px">
                
                {% for makeup in prof_makeups %}
                <li>
                    <details class="center" style="background-color: #ddd;margin-bottom:20px;border-radius:5px;">
                        <summary>
                            <div class="justify-content-around">
                                <h6 style="margin-inline:25px;display:inline-block;"><b>{{makeup.title}}</b></h6>
                                <h6 style="margin-inline:25px;display:inline-block;"><b>{{makeup.eval_date}}</b></h6>
                                <h6 style="margin-inline:25px;display:inline-block;">
                                    {% if makeup.isOpen %}
                                        <b>Open</b>
                                    {% else %}
                                        <b>Closed</b>
                                    {% endif %}
                                </h6>
                            </div>
                        </summary>
        
                        <form action="/request/prof/{{makeup.id}}" method="get" style="display:inline-block;padding:20px;">
                            <input type="submit" value="View Requests" style="background-color: #767879;
                            border: 1px solid #767879;
                            border-radius: 4px;
                            box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
                            box-sizing: border-box;
                            color: #fff;
                            cursor: pointer;
                            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            outline: none;
                            outline: 0;
                            padding: 5px 10px;
                            text-align: center;
                            transform: translateY(0);
                            transition: transform 150ms, box-shadow 150ms;
                            user-select: none;
                            -webkit-user-select: none;
                            touch-action: manipulation;">                       
                        </form>

                        {% if makeup.isOpen %}
                        <form action="/makeup/{{makeup.id}}/close" method="get" style="display:inline-block;padding:20px;">
                            <input type="submit" value="Close Makeup" style="background-color: #767879;
                            border: 1px solid #767879;
                            border-radius: 4px;
                            box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
                            box-sizing: border-box;
                            color: #fff;
                            cursor: pointer;
                            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            outline: none;
                            outline: 0;
                            padding: 5px 10px;
                            text-align: center;
                            transform: translateY(0);
                            transition: transform 150ms, box-shadow 150ms;
                            user-select: none;
                            -webkit-user-select: none;
                            touch-action: manipulation;">
                        </form>
                        {% endif %}

                    </details>
                </li>
                {% endfor %}
            </ul>        
        </div>
        
        <br><hr><br>
        
        <div class="prof_new_makeup" >
            <h5 class="center"><strong>New Makeup</strong></h5>
            
            <form action="/makeup" method="post">
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="Course Name - Evaluative Name">
            
                <label for="eval_date">Date of the Makeup exam</label>
                <input type="date" name="eval_date" placeholder="DD-MM-YYYY">           
                      
                <input type="submit" value="Submit" style="background-color: #13aa52;
                border: 1px solid #13aa52;
                border-radius: 4px;
                box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
                box-sizing: border-box;
                color: #fff;
                cursor: pointer;
                font-family: -apple-system, BlinkMacSystemFont, sans-serif;
                font-size: 16px;
                font-weight: 400;
                outline: none;
                outline: 0;
                padding: 5px 10px;
                text-align: center;
                transform: translateY(0);
                transition: transform 150ms, box-shadow 150ms;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;">
            </form>        
        </div>

    </div>        
</body>
</html>