<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Makeup System</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

</head>

<body>

    <nav class="container">
        <div class="nav-wrapper valign-wrapper">
            <img class="logo" src="{{ url_for('static', path='img/bits-logo.gif') }}" />
            <img class="navbar-right tagline" src="{{ url_for('static', path='img/bits-tagline.png') }}" />
        </div>
    </nav>

    <div>
        <img class="bits-line" src="{{ url_for('static', path='img/bits-line.gif') }}" />
    </div>

    <div id="sign_in_button" class="container">
        <h3 class="center"><strong>Makeup System</strong></h3>

        <div id ="header"> 
            <h5 class="center"><strong>Student : {{user.username}}</strong></h5> 
            
            <form action="/signout" method="get">
                <div class="buttons"> 
                <button type="submit" name="logout">Logout</button>            
                </div>
            </form>
        </div>

        <div class="student_req_list" >
            <h5>My Requests</h5>
            <list>
                <li>
                    <details>
                        <summary>
                            <span>Proff</span>
                            <span>Date</span>
                            <span>Status</span>
                        </summary>
                        <form id="prof_page_form" action="contactus.php" method="post">            
                            <label>Block id:</label>
                            <input name="block_id" value="prescription_id">       
                            <input type="submit" value="Submit">
                        </form>
                    </details>
                </li>
            </list>        
        </div>

        <br><hr><br>
        
        <div class="student_makeup_list" >
            <h5>Open Makeups</h5>   
            <list>
                <li>
                    <details>
                        <summary>
                            <span>Proff</span>
                            <span>Date</span>
                            <span>Status</span>
                        </summary>
                        <form id="prof_page_form" action="contactus.php" method="post">            
                            <label>Block id:</label>
                            <input name="block_id" value="prescription_id">       
                            <input type="submit" value="Submit">
                        </form>                
                    </details>
                </li>
            </list>
        </div>

    </div>        
</body>
</html>