<div class="student_req_list" >
    <h5>My Requests</h5>
    <list>
        <li>
            <details>
                <summary>
                    <h5>Details</h5>
                    <span>Proff</span>
                    <span>Date</span>
                    <span>Status</span>
                </summary>
                <form id="prof_page_form" action="contactus.php" method="post">            
                    <label>Block id:</label>
                    <input name="block_id" value="prescription_id">       
                    <input type="submit" value="Submit">
                </form>
            </details>
        </li>
    </list>        
</div>    

<div class="student_makeup_list" >
    <h5>Open Makeups</h5>   
    <list>
        <li>
            <details>
                <summary>
                    <h5>Details</h5>
                    <span>Proff</span>
                    <span>Date</span>
                    <span>Status</span>
                </summary>
                <form id="prof_page_form" action="contactus.php" method="post">            
                    <label>Block id:</label>
                    <input name="block_id" value="prescription_id">       
                    <input type="submit" value="Submit">
                </form>                
            </details>
        </li>
    </list>
            
</div>