nav{
    background-color: #fff;
}

.nav-wrapper{
    margin-top: 10px;
}
    
.tagline{
    height: 75px;
    width: auto;
}
    
.navbar-center{
   position: absolute;
   width: 90%;
   left: 0;
   text-align: center;
}
    
.navbar-right{
   text-align: right;
   margin-left: 31%;
}
    
.bits-line{
    width: 100%;
    height: 4px;
}

.sign_in_button {
    display: flex;
    vertical-align: center;
    align-items: center;
}